header {
  width: 100%;
  max-width: 1200px;
  padding: 1rem 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-weight: bold;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1rem
}

.menu a.active {
  color: #f802cb
}

#mainMenu {
  justify-content: center;
}

#userMenu {
  justify-content: flex-end;
}